.category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.service-card {
  background-color: var(--background-secondary-color);
  display: inline-block;
  width: 312px;
  height: 220px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}

.service-card img {
  margin: 41px auto 0;
}

.service-card h3 {
  margin-top: 24px;
  color: var(--text-primary-color);
  font-weight: var(--title-weight);
  font-size: 28px;
}
