.destinations .item header {
  padding: 0;
}

.destination-itens {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 312px;
}

.img-item {
  background: url(../img/tokyo-mobile.jpg);
  height: 360px;
  background-size: cover;
}

.img-item.osaka {
  background: url(../img/osaka-mobile.jpg);
  margin-top: 40px;
}

.item h3 {
  margin: 24px 0;
}

@media screen and (min-width: 768px) {
  .destination-itens {
    width: 648px;
  }

  .img-item {
    background: url(../img/tokyo-tablet-desk.jpg);
    height: 452px;
    background-size: cover;
  }

  .img-item.osaka {
    background: url(../img/osaka-tablet-desk.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .destination-itens {
    width: 900px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-itens {
    width: 1200px;
    flex-direction: row;
    gap: 24px;
  }
  .item {
    width: 588px;
  }
  .img-item.osaka {
    margin-top: 0;
  }
}
