.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  background-color: black;
  padding: 24px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}

.card header {
  padding: 0;
  margin-bottom: 24px;
}

.card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px 0 0;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.button {
  width: 280px;
  height: 64px;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-size: 20px;
  font-weight: var(--title-weight);
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

.card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards {
    width: 1200px;
    margin: 0 auto;
  }
  .offers-cards .card {
    width: 588px;
  }
}
