.payments .content-container .text-content p {
  margin: 24px auto;
}

.payments .content-container .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
  height: 460px;
}

.payments .content-container .image.first {
  background: url(../img/gallery1-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image.second {
  background: url(../img/gallery2-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .image.thirdy {
  background: url(../img/gallery3-mobile.jpg);
  background-size: cover;
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image.first {
    background: url(../img/gallery1-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image.second {
    background: url(../img/gallery2-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image.thirdy {
    background: url(../img/gallery3-tablet.jpg);
    background-size: cover;
    grid-column: span 2;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
  }
}
